.datos-cliente { 
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
    /* Hice que los datos queden en columna y acomode el tamaño */
/*Variables*/
:root {
    --verde: #4f5d3d;
    --marron: #7d5c3e;
    --blanco: #f5f2e9;
    --gris-claro: #eae3d2;
}

*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
